@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');


:root {
    --charcoal-gray: #292929;
    --light-gray: #E8E8E8;
    --whisper-white: #F6F6F6;
    --lemon-yellow: #F4F440;
    --pale-yellow: #FFFF9B;
    --dark-silver: #C0C0C0;
    --main-font: "JetBrains Mono";
    --titulos: 2rem;
    --sub-titulos: 1.7rem;
    --texto-1: 1.4rem;
    --texto-2: 1.1rem;
    --texto-3: 0.8rem;
    --icon-size: 1.1rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}


body {
    height: 100vh; 
    width: 100vw;
    background-color: var(--whisper-white);
    padding-top: 1%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: fit-content;
    background-color: var(--lemon-yellow);
    border-radius: .4rem;
    padding: 0.5rem 1.4rem;
}

h1{
    font-size: var(--titulos);
}

h2{
    font-size: var(--sub-titulos);
}

p{
    font-size: var(--texto-2);
}

span{
    font-size: var(--texto-3);
}

main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 75%;
    width: 100%;
}
main > section{
    display: flex;
    flex-direction: column;
    width: 36%;
    height: 100%;
    margin: 0 7%;
}

textarea{
    resize: none;
    height: 70%;
    width: 100%;
    font-size: var(--texto-1);
}

textarea:focus{
    border-color: var(--dark-silver);
    outline: none;
}

.top-section{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: .2rem .6rem;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--light-gray);
    width: fit-content;
    height: auto;
}

.output-section > .top-section {

    background-color: var(--lemon-yellow);

}


.button-section{
    display: flex;
    justify-content: space-between;
}



.btn-action{
    height: 100%;
    width: auto;
}

#not-found{
    font-size: var(--sub-titulos);
    height: 40%;
    width: 100%;
}

#not-found > span{
    font-size: var(--texto-2);
}
.text-input{
    background-color: transparent;
    max-width: 100%;
    max-height: 70%;
    height: 100%;
    font-size: var(--sub-titulos);
    padding: 5%;
    border-radius: 0 1rem 1rem 1rem;
    -webkit-box-shadow: 5px 5px 15px 0px var(--light-gray);
    -moz-box-shadow: 5px 5px 14px 0px var(--light-gray);
    box-shadow: 5px 5px 15px 0px var(--light-gray);
    border-color: var(--light-gray);
    border-width: 2px;
}

#output{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 5%;
    border: 2px solid var(--lemon-yellow);
    border-color: var(--lemon-yellow);
    -webkit-box-shadow: 5px 5px 9px 0px var(--lemon-yellow);
    -moz-box-shadow: 5px 5px 9px 0px var(--lemon-yellow);
    box-shadow: 5px 5px 9px 0px var(--lemon-yellow);
}
#result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap; 
    word-wrap: break-word;
}

#no-result-banner{
    display: flex;
    height: 60%;
    width: auto;
    align-items: center;
    justify-content: center;
}
.action-section{
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: center;
}


button {
    border: none;
    padding: .6rem ;
    border-radius: 1rem;
    font-size: var(--texto-1);
    height: 15%;
    color: var(--whisper-white);
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 4px 0px var(--dark-silver);
    -moz-box-shadow: 0px 4px 4px 0px var(--dark-silver);
    box-shadow: 0px 4px 4px 0px var(--dark-silver);

}
#encrypt{
    border: 2px solid var(--lemon-yellow);
    background-color: var(--lemon-yellow);
    color: var(--charcoal-gray);
    border-color: var(--lemon-yellow);

}

#encrypt:hover{
    background-color: transparent;
    -webkit-box-shadow: 0px 4px 4px 0px var(--pale-yellow);
    -moz-box-shadow: 0px 4px 4px 0px var(--pale-yellow);
    box-shadow: 0px 4px 4px 0px var(--pale-yellow);

}

#decrypt{
    border: 2px solid var(--dark-silver);
    background-color: var(--dark-silver);
    color: var(--whisper-white);
}
#decrypt:hover{
    color: var(--charcoal-gray);
    background-color: transparent;
}

.copy{
    border: 2px solid var(--light-gray);
    background-color: var(--whisper-white);
    color: var(--charcoal-gray);
}
.feed-content{
    display: block;
    margin: 1rem;
    padding: .5rem;
}

#copyMessage {
    display: block;
    color: var(--charcoal-gray);
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.hidden {
    display: none;
}

.visible {
    display: block;
    opacity: 1;

}

.copy:hover #copy-result-icon{
    background-color: var(--lemon-yellow);
}

.action-section > *{
    margin: .4rem;
}
.output-section > .action-section > .button-section{
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 15%;
    width: 100%;
    padding: 1rem;
    background-color: var(--lemon-yellow);
}
footer > *{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 30%;
    height: auto;
}
footer > div > *{
    text-align: center;
}

img {
    max-width: 60%;
}

.info-footer{
    margin-bottom: .5rem;
    font-weight: 900;
    text-align: center;
}

.links{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
}
.icon-social-media {
    color: var(--charcoal-gray);
    font-size: 2rem;
    border-radius: 2rem;
}

.fa-border-radius{
    color: var(--lemon-yellow);
    background-color: var(--charcoal-gray);
    padding: 40%;
    font-size: var(--icon-size);
    border-radius: 1rem;

}
#update-date{
    font-size: var(--texto-2);
}

@media(width <= 1100px){
    
    :root {
        --titulos: 1.5rem;
        --sub-titulos: 1.3rem;
        --texto-1: 1.1rem;
        --texto-2: 0.9rem;
        --texto-3: 0.55rem;
        --icon-size: 1rem;
    }

    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
 
     main > section{
         display: flex;
         flex-direction: column;
         width: 60%;
         height: 50%;
     }
 
     .text-input{
         height: 60%;
         width: 100%;
     }
     .action-section{
         height: 14%;
         width: 100%;
     }

    .links{
        width: 80%;
    }
    .feed-content{
        margin: .5rem;
        padding: .2rem;
    }
}

@media(360px <= width <= 640px){
    
    :root {
        --titulos: 1rem;
        --sub-titulos: .85rem;
        --texto-1: .7rem;
        --texto-2: .55rem;
        --texto-3: 0.4rem;
        --icon-size: .9rem;
    }


    main > section{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 50%;
    }

    .text-input{
        height: 60%;
        width: 100%;
    }
    .action-section{
        height: 20%;
        width: 100%;
    }
    .links{
        width: 100%;
    }
    .feed-content{
        margin: .3rem;
        padding: .18rem;
    }
}

